html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, 
img, ins, kbd, q, s, samp, strike, strong, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {
    margin: 0; 
    border: 0; 
    padding: 0; 
    outline: 0; 
    font-size: 100%; 
    background: transparent;
    vertical-align: baseline; 
}
.areaDestaqueSuave {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F2F2F2), color-stop(1, #CCCCCC)) !important;
    background: #F2F2F2;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#F2F2F2',endColorStr='#CCCCCC',gradientType='0');
    background: -moz-linear-gradient(bottom, #F2F2F2 0%, #CCCCCC 100%); 
}
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: ''; 
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse; 
    border-spacing: 0;
}

/* @CLEARFIX */
.clearfix:after { 
    height: 0;
    content: " "; 
    clear: both;
    display: block;
    line-height: 0;
    margin-bottom: 0;
    visibility: hidden;
}

html[xmlns] .clearfix { 
    display: block; 
}

* html .clearfix { 
    height: 1%;
}

/* Auxiliares */
.left {
    float: left;
}

.center {
    float: none;
}

.right {
    float: right;
}

.contentVisao {
    width: 100%;
    margin: 0;
}
.content {
	width: 1000px;
    margin: 0 auto;
}
.contentCand {
    width: 850px;
    margin: 0 auto;
}
.contentPainelGestor {
	width: 95%;
    margin: 0 auto;
}
.container {
    
    float: left;
    width: 100%;
}

.padding {
    padding: 16px;
    display: block;
}

.marginbottom {
    margin-bottom: 20px;
}

.box {
    background: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 5px #888;
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
}

.title1 {
    color: #424242;
    font-size: 16px;
    padding-bottom: 3px; 
    margin-bottom: 15px;
    border-bottom: 2px solid #424242;
    font-weight: bold;
    border-top:none;
    border-left:none;
    border-right:none;
}

th.title1 {
    color: #424242;
    font-size: 16px;
    padding-bottom: 3px; 
    margin-bottom: 15px;
    border-bottom: 2px solid #424242;
    font-weight: bold;
    border-top:none;
    border-left:none;
    border-right:none;
}

.tituloCampos {
    color: #424242;
    font-size: 16px;
    font: verdana, arial, helvetica, sans-serif;
    padding-bottom: 3px;
    margin-bottom: 15px;
}

.tituloCamposDestaque {
    color: #000;
    padding: 3px;
    font: 14px arial;
    text-align: right;
    vertical-align: middle;
}

.counter {
    color: gray;
    padding: 1px 6px;
    border-radius: 5px;
    background: #ebebeb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #d3d3d3;
    border-top: 3px solid #d3d3d3;
}
.counterAtencao {
    color: white;
    padding: 1px 6px;
    border-radius: 5px;
    background: #E60404;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #B60303;
    border-top: 3px solid #B60303;
}

.button1 {
    display: inline-block;
    opacity: 0.7;
    margin: 0 3px;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    -moz-border-radius: 3px;
    border: 1px solid #bdc1c4;
    -webkit-border-radius: 3px;
    background: url("#{resource['V2/imagens/degrade2.png']}") repeat-x #dedfe1;
}
.botoes {
    display: inline-block;
    opacity: 0.7;
    margin: 0 3px;
    font-size: 13px;
    font-weight: bold;
    padding: 1px;
    border-radius: 3px;
    text-decoration: none;
    -moz-border-radius: 3px;
    border: 1px solid #bdc1c4;
    -webkit-border-radius: 3px;
    background: url("#{resource['V2/imagens/degrade2.png']}") repeat-x #dedfe1;
}

botoesPequenos {
    display: inline-block;
    opacity: 0.7;
    margin: 0 1px;
    font-size: 11px;
    font-weight: bold;
    padding: 1px 3px;
    border-radius: 1px;
    text-decoration: none;
    -moz-border-radius: 1px;
    border: 1px solid #bdc1c4;
    -webkit-border-radius: 1px;
    background: url("#{resource['V2/imagens/degrade2.png']}") repeat-x #dedfe1;
}

.button2 {
    color: #fff;
    opacity: 0.7;
    margin: 0 3px;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    -moz-border-radius: 3px;
    border: 1px solid #da0000;
    -webkit-border-radius: 3px;
    background: url("#{resource['V2/imagens/degrade3.png']}") repeat-x #da0000;
}

.button3 {
    margin: 0 3px;
    opacity: 0.7;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    -moz-border-radius: 3px;
    padding: 5px 7px 5px 10px;
    border: 1px solid #bdc1c4;
    -webkit-border-radius: 3px;
    background: url("#{resource['V2/imagens/degrade2.png']}") repeat-x #dedfe1;
}

.button4 {
    color: #fff;
    opacity: 0.7;
    margin: 0 3px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    -moz-border-radius: 3px;
    padding: 5px 7px 5px 10px;
    border: 1px solid #da0000;
    -webkit-border-radius: 3px;
    background: url("#{resource['V2/imagens/degrade3.png']}") repeat-x #da0000;
}

.button1:hover, .button3:hover {
    opacity: 1;
    border: 1px solid gray;
}

.button2:hover, .button4:hover {
    opacity: 1;
    border: 1px solid #000; 
}

.button1 img, .button2 img {
    float: left; 
    margin-right: 5px;
}

.button3 img, .button4 img {
    float: left;
}

.table1, .table2 {
    width: 100%;
    display: table;
    border-collapse: collapse;
}

.table1 th {
    padding: 8px 0;
    border:1px solid #ddd;
    vertical-align: middle;
    background: url("#{resource['V2/imagens/degrade1.png']}") repeat-x #edefef;
}

.table1 td {
    padding: 8px;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.table2 th {
    color: gray;
    padding: 8px 0;
    vertical-align: middle; 
}

.table2 td {
    padding: 8px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

.headertable {
    background-color: transparent;
    color: gray;
    padding: 8px 0;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border: 0;
}

.table4 {
    background-color: transparent;
    padding: 8px 0;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    border: 0;
}

.form1 {
    width: 100%;
}

.form1 th {
    width: 30%;
    padding: 5px;
    text-align: right;
    vertical-align: middle;
}

.tituloTableform1 {
    width: 100%;
    padding: 5px;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
    font: 8pt;
}

.form1 td {
    padding: 5px;
    vertical-align: middle;
}


/* Estilos Padrão */
body {
    color: #000;
    font: 12px arial;
/*     background: url("#{resource['imagens/bg2.jpg']}") repeat-y top center #eaeaea; */
}

a {
    color: inherit;
    text-decoration: underline;
}

#header {
    height: 55px;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
}

#header .info {
    color: #fff;
    line-height: 25px;
    padding-left: 8px;
    margin: 15px 0 0 10px;
    border-left: 1px solid #fff;
}

.info2 {
    color: #ffffff;
    margin: 15px 0 0 45px;
    border-left: transparent;
}

.info3 {
    color: #ffffff;
    margin: 15px 0 0 45px;
    font-size: 35px;
    border-left: transparent;
}

#header2 {
    color: #fff;
    height: 57px;
    padding: 10px 0;
    background: #4b4c50;
    margin: -20px 0 20px 0;
    border-bottom: 1px solid #fff;
}

#header3 .padding {
    padding: 0 20px;
}

#usuario .avatar {
    width: 215px;
}

#usuario .avatar p {
    height: 55px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
}

#usuario form {
    font-size: 14px;
    margin: 15px 0 0 20px;
}

#usuario .sair {
    font-size: 13px;
    margin-top: 18px; 
}

#usuario .sair a {
    color: inherit;
}



#nav {
    width: 195px;
    margin-left: 10px;
    margin-top: 0px;
}

#nav .nav1 {
    float: left;
    width: 100%; 
    background: #f7f7f7;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#nav .li1 {
    float: left;
    width: 155px; 
    color: #eaeaea;
    font-size: 11px;
    line-height: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 5px 8px 35px;
    background: url("#{resource['V2/imagens/nav-bg.png']}") repeat-x #46484c;
}

#nav .li1:hover {
    color: #fff;
    background: url("#{resource['V2/imagens/nav-bg-hover.png']}") repeat-x #343539;
}

#nav .li1 img {
    float: left;
    margin-left: -20px;
}

#nav .first {
    border-radius:10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

#nav .last {
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
}

#nav .nav2 {
    float: left;
    width: 175px;
    padding: 10px;
    display: none;
    font-size: 11px;
}

#nav .li2 {
    float: left; 
    width: 100%; 
    padding: 5px 0;
    color: #545454;
    text-decoration: none; 
    border-bottom: 1px solid #eaeaea;
}

#nav .li2:hover {
    color: #000;
}


#main {
    width: 715px;
}

#main2 {
/*     width: 715px; */
    width: 95%;
    float: left;
    display: block;
    margin-left: 20px;
}

#mensagens {
    width: 345px;
}

#vagas {
    width: 345px;    
}
#twitter {
    width: 345px;
/*     margin-left: 25px; */
}

#twitter .post {
    margin-bottom: 15px;
}

#twitter .post small {
    color: gray;
}


#servicos-online {
    width: 50%;
    min-height:172px !important;
}

#servicos-online .lista li {
    float: left;
    width: 50%;
    height: 136px;
    text-align: center;
}

#servicos-online .lista2 li2 {
    width: 100%;
    height: 136px;
    text-align: center;
}

#servicos-online .lista img {
    display: block; 
    margin: 0 auto 8px auto;
}

#servicos-online .lista a {
    text-decoration: none;
}


#facebook {
    width: 345px;
}

#modulos {
    margin-top: 30px;
}

#modulos .logo {
    width: 238px;
}

#modulos .logo .sei {
    margin: 15px 0 0 50px;
}

#modulos .lista {
    width: 680px;
    font-size: 14px; 
    font-weight: bold;
}

#modulos .lista li {
    float: left; 
    width: 20%; 
    height: 180px;
    text-align: center;
}

#modulos .lista a img {
    display: block; 
    margin: 0 auto 10px auto;
}

#modulos .lista a:hover img {
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px; 
    box-shadow: 0px 5px 5px #637582;
}

#modulos .lista a:hover {
    color: #52758e;
}

#modulos .lista a {
    color: #424242; 
    text-decoration: none;
}

#modulos .listaCand {
    width: 680px;
    font-size: 14px;
    font-weight: bold;
}

#modulos .listaCand li {
    float: left;
    width: 30%;
    height: 180px;
    text-align: center;
}

#modulos .listaCand a img {
    display: block;
    margin: 0 auto 10px auto;
}

#modulos .listaCand a:hover img {
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    box-shadow: 0px 5px 5px #637582;
}

#modulos .listaCand a:hover {
    color: #52758e;
}

#modulos .lista a {
    color: #424242;
    text-decoration: none;
}

#login {
    margin-top: 100px;
}

#login .logo {
    width: 420px;
}

#login .logo-cliente {
    margin-left: 3px; 
    padding-left: 3px;
}

#login .campos {
    width: 400px;
}

#login .campos label {
    display: block; 
    margin-bottom: 5px;
}

#login .camposLogin .input {
    width:90%;
    padding:5px 0;
    font-size:15px;
    padding-left: 30px;
    border:1px solid #ddd;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#login .camposLogin .usuario {
    background: url("#{resource['V2/imagens/243.png']}") no-repeat 8px center;
}

#login .camposLogin .senha {
    background: url("#{resource['V2/imagens/106.png']}") no-repeat 10px center;
}

/* 
    Customização componentes Primefaces 
*/
div#mensagens {
    width: 100%;
}

div#mensagem_container {
    width: 454px;
}

div.ui-growl-message {
    width: 383px;
}

/*.ui-messages-info, .ui-message-info, ui-messages-warn, .ui-message-warn {
    border: 0 !important;
    background-color: #fff !important;    
}*/
.tituloCampos {
    color: #000;
    padding: 3px;
    font: 12px arial;
    text-align: right;
    vertical-align: middle;
    font-weight: bold;
}
.tituloCamposValores {
    color: #000;
    padding: 3px;
    font: 18px arial;
    text-align: right;
    vertical-align: middle;
    font-weight: normal;
}


.camposObrigatorios {
    background-color: #ffffff;
    padding: 3px;
    height: 26px;
    border: 1px solid #CCCCCC;
    border-left-color: #FA4D4D;
    border-left-width: 2;
}

select.camposObrigatorios {
    background-color: #ffffff;
    padding: 3px;
    height: 34px;
    border: 1px solid #CCCCCC;
    border-left-color: #FA4D4D;
    border-left-width: 2;
}

td.colunaCentralizada {
    vertical-align: top;
    text-align: center;
}
td {
	vertical-align: top;
}
.horarioLivre {
    font: 9pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: green;
    font-weight: bold;
    text-align: center;
}

.horarioFeriado {
    font: 9pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: blue;
    font-weight: bold;
    text-align: center;
}

.horarioOcupado {
    font: 9pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: red;
    font-weight: bold;
    text-align: center;
}

.horarioRegistroLancado {
    font: 9pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: goldenrod;
    font-weight: bold;
    text-align: center;
}

th.consulta {
    font: 12px arial;
    font-weight: bold;
    padding: 15px 0;
    border:1px solid #ddd;
    vertical-align: top;
    background: url("#{resource['V2/imagens/degrade1.png']}") repeat-x #edefef;
}


.campos {
    vertical-align: middle;
	background-color: #ffffff;
	padding: 3px;
	height: 26px;
	border: 1px solid #CCCCCC;
	margin-bottom: 3px;
}

.campos[type="checkbox"] {
	margin-right: 5px;
	margin-bottom: 0px !important;
}

.campos .rf-au-fnt {
	height: 100% !important;
}

select.campos {
    background-color: #ffffff;
    padding: 3px;
    height: 34px;
    border: 1px solid #CCCCCC;
}


.camposSomenteLeitura {
    background-image: -moz-linear-gradient(54% 79% 90deg, #CCCCCC 36%, #CCCCCC 75%);
    background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#CCCCCC), to(#CCCCCC), color-stop(.4,#CCCCCC));
    background-color: #CCCCCC;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#CCCCCC',endColorStr='#CCCCCC',gradientType='0');
    font: 11px arial;
    height: 26px;
    padding: 3px;
    color: #333333;
    margin-right: 20px;
    border: 1px solid #CCCCCC;
}

select.camposSomenteLeitura {
    background-image: -moz-linear-gradient(54% 79% 90deg, #CCCCCC 36%, #CCCCCC 75%);
    background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#CCCCCC), to(#CCCCCC), color-stop(.4,#CCCCCC));
    background-color: #CCCCCC;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#CCCCCC',endColorStr='#CCCCCC',gradientType='0');
    font: 11px arial;
    height: 34px;
    padding: 3px;
    color: #333333;
    margin-right: 20px;
    border: 1px solid #CCCCCC;
}
.camposSomenteLeituraObrigatorio {
	background-image: -moz-linear-gradient(54% 79% 90deg, #E0E0E0 36%, #E0E0E0 75%);
	background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#E0E0E0), to(#E0E0E0), color-stop(.4, #E0E0E0));
	background-color: #E0E0E0;
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E0E0E0', endColorStr='#E0E0E0', gradientType='0');
	font: 11px arial;
	color: #333333;
	padding: 3px;
	height: 26px;
	border: 1px solid #E0E0E0;
	border-left-color: #C46F6F !important;
	/*    border-bottom-color: #FF0000;*/
}
select.camposSomenteLeituraObrigatorio {
    background-image: -moz-linear-gradient(54% 79% 90deg, #E0E0E0 36%, #E0E0E0 75%);
    background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#E0E0E0), to(#E0E0E0), color-stop(.4,#E0E0E0));
    background-color: #E0E0E0;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E0E0E0',endColorStr='#E0E0E0',gradientType='0');
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #333333;
    padding: 3px;
    height: 34px;
    margin-right: 20px;
    border: 1px solid #E0E0E0;
    border-bottom-color: #C46F6F;
    /*    border-bottom-color: #FF0000;*/
}

.camposReduzidosVisaoProfessor {
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #000000;
}

.inputTextOcultoRegistroAulaNota{
    background:#FFF;
    border:0px;
    visibility: hidden;
}

.selectBooleanOcultoRegistroAulaNota{
    display:none;
}

.columnSemBorda{
    border:none !important;


}

.title1SemBorda {
    color: #424242;
    font-size: 14px;
    padding-bottom: 3px; 
    margin-bottom: 15px;    
    font-weight: bold;
}

.navOpen {
    float: left;
    width: 175px;
    padding: 10px;
    display: block;
    font-size: 11px;
    margin-left: 0px;
}


.msgFlutuante {
	background-image: -moz-linear-gradient(54% 79% 90deg, #E2E2E2 36%, #ffffff 75%);
    background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#E2E2E2), to(#ffffff), color-stop(.4,#E2E2E2));
    background-color: #E2E2E2;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E2E2E2',endColorStr='#ffffff',gradientType='1');
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #000000;    
    border: 2px solid #b3b3b3;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius: 5px;	
	position:fixed;
	top:5px;	
	text-align:left;
	width:945px;
	zindex:1000;
	layout:block;
	margin: 0 auto;
	float: left;
}

.msgFlutuanteVisao {
	background-image: -moz-linear-gradient(54% 79% 90deg, #E2E2E2 36%, #ffffff 75%);
    background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#E2E2E2), to(#ffffff), color-stop(.4,#E2E2E2));
    background-color: #E2E2E2;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#E2E2E2',endColorStr='#ffffff',gradientType='1');
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #000000;    
    border: 2px solid #b3b3b3;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius: 5px;	
	position:fixed;
	top:2px;	
	text-align:left;
	width:670px;
	zindex:1000;
	layout:block;
	margin: 0 auto;
	padding:5px;
	float: left;
/* 	opacity:0.7; */
}

.msgFlutuanteModal {
	font: 11px verdana, arial, helvetica, sans-serif;
    color: #000000;    
    position:absolute;
	top:93%;	
	text-align:center;
	width:640px;
	zindex:1000;
	layout:block;
	margin: 0 auto;
	padding:5px;
	float: left;
/* 	opacity:0.7; */
}

.msgModal {
	font: 11px verdana, arial, helvetica, sans-serif;
    color: #000000;    
    position:absolute;
	top:93%;	
	text-align:center;
	width:640px;
	zindex:1000;
	layout:block;
	margin: 0 auto;
	padding:5px;	
/* 	opacity:0.7; */
}

.menuConteudo{	
	width: 60px;
	margin-right:10px;
	float: left;
	margin-top: 13px;
/* 	padding:10px; */
/* 	 -moz-border-radius:5px; */
/*     -webkit-border-radius:5px; */
/*     border-radius: 5px;	 */
/* 	position:fixed; */
/* 	top:190px; */
/* 	background-color: black; */
/* 	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; */
/*     filter: alpha(opacity=60); */
/*     -khtml-opacity: 0.60; */
/*     -moz-opacity: 0.60; */
/* 	opacity:0.60; */
	text-align: center;
}

.panelVisualizarOpcaoRecursoEducacional{
	background-color: #F4F4F4;
	border:1px solid #b3b3b3;	
	-moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius: 2px;    
    z-index: 10000;
    max-width:900px;
    min-width: 200px;  
    position: fixed;  
    display: block;
}


.itemMenuConteudo{	
	width:60px;
	min-height:50px;
	margin:5px;
	padding:5px;
	font: 12px verdana, arial, helvetica, sans-serif;
	font-weight:bold;
    color: #000000;
     -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius: 5px;	
    vertical-align: middle;
    text-align: center;
    background-color: #4b4c50;
	position:relative;
	left:-10px;
	display: block;
	
}





.itemMenuConteudoPonto{	
	width:60px;
	height:30px;	
	border: none;	
	font: 8px verdana, arial, helvetica, sans-serif;
    color: #FFFFFF;
    vertical-align: bottom;
    text-align: left;    
}

.toolTipItemMenuConteudo {
	background-color: black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -khtml-opacity: 0.70;
    -moz-opacity: 0.70;
	opacity:0.70;
    font: 11px verdana, arial, helvetica, sans-serif;
    color: #FFFFFF;
    font-weight:bold;    
    border: none;
    text-align:left;
    vertical-align:middle;
	layout:block;
	margin: 0 auto;
	padding:5px;		
}
.panelTooltipWidhFixo {
	width:300px;
	background-color: #FAE6B0;
    padding: 7px;
    border: 1px solid;
    border-color: #E5973E;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
    font-size: 11px;
    font-family: Arial,Verdana,sans-serif;
    z-index: 10000;
	text-align: left;
}

.panelTooltipAvaliacao {	
	background-color: #FAE6B0;
    padding: 7px;
    border: 1px solid;
    border-color: #E5973E;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
    font-size: 11px;
    font-family: Arial,Verdana,sans-serif;
    z-index: 10000;
	text-align: left;
}

.panelTooltipConteudo {
	background-color: #F4F4F4;
	border: 1px solid #b3b3b3;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	opacity: 0.8;
	z-index: 10000;
}

.comboDisciplinaEstudoOnline{
    font: 12pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #FFFFFF;
    text-align: left;
    background: #4b4c50;
    border: 1px solid #b3b3b3;   
	width: 650px;    
	background-color: #4b4c50 !important;
    padding: 0px;
    height: 25px;
    border: 1px solid #CCCCCC;
}


/* .botaoConteudoAvancarIcone{ */
/* 	width:22px; */
/* 	height:30px; */
/* 	background-image: url("#{resource['../imagens/botaoSetaDireita.jpg']}"); */
/* 	background-repeat: no-repeat; */
/* 	display: block; */
/* 	float:right; */
/* 	position: relative; */
/* 	text-indent: -99999em; */
/* } */

.panelBotoesConteudo{
	width:100%;	
	float: left;
	height:35px;	
	 border-top:1px solid #EAEAEA;    
/*     -moz-border-radius:3px; */
/*     -webkit-border-radius:3px; */
/*     border-radius: 3px;    */
/*     position:fixed; */
/*     top:91%;    */
    padding-top:5px;
/*     background-color: #FFFFFF; */    
/* 	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; */
/*     filter: alpha(opacity=60); */
/*     -khtml-opacity: 0.60; */
/*     -moz-opacity: 0.60; */
/* 	opacity:0.60; */
	
	z-index: 1000;
}



.itemIndicePagina{
	font: 9pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
	background-color: #FFFFFF;	
	width: 80%;
	display: block;
	float: left;	
	padding-left: 5px;	
}
.itemIndicePagina:hover{
	font: 9pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;	
	background-color: #b3b3b3;
	width: 80%;
	display: block;		
	float: left;
	padding-left: 5px;	
}

.itemIndiceUnidade{
	font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	background-color: #FFFFFF;
	width: 80%;
	display: block;
	float: left;		
}
.itemIndiceUnidade:hover{
	font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;	
	background-color: #b3b3b3;	
	font-weight: bold;	
	width: 80%;
	float: left;
	display: block;
}

.itemEstudoOnline{	
    color: #545454;
    float: left;
    padding-left: 5px;
    text-decoration: none;
    width: 100%;
    font-size:14px;	
}

.itemQuadroResumoDuvidaProfessor{
	width:95px;
	height:70px;
	text-align:center;
	border:1px solid #EAEAEA;
	padding:10px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius: 5px;	
	background-color: #FFFFFF;
}

.itemQuadroResumoDuvidaProfessorSelecionado{
	width:95px;
	height:65px;
	text-align:center;
	border:1px solid #333333;
	padding:10px;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius: 5px;	
	background-color: #EAEAEA;
}

.itemQtde{
	text-align:center;
	border:1px solid #333333;	
	font-size:10px;
	-moz-border-radius:30px;
    -webkit-border-radius:30px;
    border-radius: 30px;		
	background-color:red; 
	border:1px solid gray;
	color:#000000;
	position:relative;
	top:-45px;
	left:-8px;	
	margin:0;
	width: 20px;
	height: 20px;
}

.panelBtsModalConteudo{
	
	width:680px;
	height:20px;
	border-top: 1px solid #EAEAEA;
	vertical-align: bottom;
	
/* 	background-image: -moz-linear-gradient(74% 79% 90deg, #FFFFFF 60%, #EAEAEA 90%); */
/*     background-image: -webkit-gradient(linear, 0% 36%, 0% 75%, from(#E2E2E2), to(#ffffff), color-stop(.4,#E2E2E2)); */
/*     background-color: #EAEAEA;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#EAEAEA',endColorStr='#ffffff',gradientType='1'); */
}


.semBorda{
    border: none;
}

.semMargin{
    padding: 0px;
}

.semBordaSemMargin{
    border: none !important;    
    margin: 0px !important;
    padding: 0px !important;
    vertical-align: top !important;
}

.itemVaga{	
    color: #545454;
    float: left;
    padding-left: 5px;
    text-decoration: none;
    width: 100%;
    font-size:100%;	
}

.itemVaga:hover{	
    color: #000000;
    float: left;
    padding-left: 5px;
    text-decoration: none;
    width: 100%;
    font-size:100%;	
}

.mensagem {
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #333333;
    text-align: right;
}
.mensagemDetalhada {
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #DF0000;
    text-align: right;
}
.mensagemDetalhadaNegrito {
    font: 13pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #DF0000;
    text-align: right;
    font-weight: bold;
}

td.colunaEsquerda {
    vertical-align: top;
    text-align: left !important;
}
td.colunaDireita {
    vertical-align: top;
    text-align: right !important;
}
.colunaVerticalmenteEsquerda{
	vertical-align: middle;
	text-align: left !important;
}

.colunaVerticalmenteCentralizada{
	vertical-align: middle;
}

.botaoExcluir:hover, .botaoGravar:hover, .button4:hover {
    opacity: 1;
    border: 1px solid #000;
}

.botoes img, .botaoExcluir img, .botaoGravar img {
    float: left;
    margin-right: 5px;
}

.botaoExcluir{
    color: #fff;
    opacity: 0.7;
    margin: 0 3px;
    font-size: 13px;
    font-weight: bold;
    padding: 1px 4px;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    -moz-border-radius: 3px;
    border: 1px solid #da0000;
    -webkit-border-radius: 3px;
    background: url("#{resource['V2/imagens/degrade3.png']}") repeat-x #da0000;
}

.tituloCamposNegrito2 {
	font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
	color: #000000;
	text-align: right;
	font-weight: bold;
}

.tituloCamposQuestionarioRespondido {
	font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
	color: #000000;
	width: 99.5%;
	font-weight: bold;
	text-align: left;
	background-image: none  !important;
	background-color: #D3F5BC !important;
	
}

.tituloCamposQuestionarioNaoRespondido {
	font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
	color: #000000;
	width: 99.5%;
	font-weight: bold;
	text-align: left;
	background-image: url("#{resource['imagens/alerta.gif']}");
	background-repeat: no-repeat;
	background-position: 98% 1px;	
	background-color: #E9ECE8 !important;	
}

.colorPicker {
	
}

.tituloAvisoModal {
	font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
	color: #000000;
	text-align: right;
}

.footerPgtoCartao {		
	height: 45px;
	position: fixed;
	top: 80%;
	width: 880px;
	border-top: 2px solid rgb(204, 204, 204);
}

ul::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
    opacity:0.5;
}
 
ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    opacity:0.5;
}
 
ul::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  opacity:0.5;
}

.w30 {
	width: 30%;
}

.w60 {
	width: 60%;
}

.retirarBordasColuna {
	border-top: 0px !important;
	border-left: 0px !important;
	border: 0px;
	padding: 4px 4px 4px 4px;
	font-size: 11px;
	color: #000;
	font-family: Arial,Verdana,sans-serif;
}

.retirarBordasTabela {
	border-top: 0px !important;
	border-left: 0px !important;
	border: 0px;
	background-color: #FFF;
	empty-cells: show;
	border-collapse: collapse;
}

.interacaoForum {
	text-decoration: none;
	text-align: left;
	line-height: normal;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #424242;
	min-height: 150px;
	border: 1px solid gray;
	background-color: #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 100%;
}

.interacaoForumEdit {
	text-decoration: none;
	text-align: left;
	line-height: normal;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #424242;
	min-height: 200px;
	border: 1px solid gray;
	background-color: #F4F4F4;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 100%;
}

.panelUnidadeImpar {
	width: 100%;
	min-height: 50px;
	height: 100%;
	float: left;
	margin-top: 5px;
	border: 1px solid gray;
	background-color: #F4F4F4;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: left;
}

.panelUnidadeImpar:hover {
	background-color: #FFFFFF;
	opacity: 1.5;
	border: 1px solid #b3b3b3;
}

.panelUnidade {
	width: 100%;
	min-height: 50px;
	height: 100%;
	float: left;
	margin-top: 5px;
	border: 1px solid #b3b3b3;
	background-color: #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: left;
}

.panelUnidade:hover {
	background-color: #F4F4F4;
	opacity: 1.5;
	border: 1px solid gray;
}

.scrollLast {
	border: none;
	text-decoration: none;
	text-align: left;
	line-height: normal;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #424242;
}

.scrollNext {
	border: none;
	text-decoration: none;
	text-align: left;
	line-height: normal;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #424242;
}

/* DataScroller*/
.rf-dt-ftr-c {
	background-color: white !important;
	border-bottom: 0px !important;
}
th.rf-dt-shdr-c {
	font: 12px arial;
	font-weight: bold;
	padding: 10px 0;
	border: 1px solid #ddd;
	vertical-align: center;
	background: url('#{resource['/V2/imagens/degrade1.png']}') repeat-x #edefef;
}

th.rf-dt-hdr-c {
	font: 12px arial;
	font-weight: bold;
	padding: 15px 0;
	border: 1px solid #ddd;
	vertical-align: top;
	background: url('#{resource['/V2/imagens/degrade1.png']}') repeat-x #edefef;
}

.rf-dt-c {
	font: 12px arial;
	padding: 4px;
	vertical-align: middle;
}


.rf-dt {
	width: 100%;
	/* 	border-top-width: 0px !important; */
}

.rf-dt-flt-c{
	background-color: #edefef !important; 
	border: 1px solid #ddd !important;
}

.rf-dt-c-srt {
	color: #000000;
    cursor: pointer;
}

th.rf-dt-c-srt {
	color: #000000;
    cursor: pointer;
}

.rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-top {
	/* 	padding-left: 33%; */
	border-bottom-color: #C4C0B9;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-style: none !important;
	background: white !important;
}

.rf-tab-hdr-tabs {
	margin-left: auto !important;
	margin-right: auto !important;
	border: 0px !important;
}

.rf-tab-hdr-spcr {
	padding-left: 1px;
	width: 0 !important;
}

.rf-ds-nmb-btn rf-ds-act {
	font-size: 11px !important;
}

a.rf-ds-nmb-btn {
	border: 1px solid #DDD;
	border-top-width: 2px;
	border-top-color: #CCC;
}

span.rf-ds-act {
	border: 1px solid #DDD;
	border-top-width: 2px;
	border-top-color: #555;
}

span.rf-ds-act:HOVER {
	border: 1px solid #DDD;
	border-top-width: 2px;
	border-top-color: #555;
}

.rf-ds {
	/* 	border-style: solid !important; */
	border-width: 1px !important;
	border-color: #c4c0b9 !important;
}

/* .rf-ds-nmb-btn{ */
/*  border-top-style: solid !important; */
/*     border-top-width: 2px !important; */
/*     cursor: pointer !important; */
/*     text-align: center !important; */
/*     width: 25px !important; */
/* } */
.rf-ds-nmb-btn {
	/* 		border-top-color: #d4cfc7 !important; */
	/* /* 	    color: #d4cfc7; */ */
	/* 	    color: #000000 !important; */
	/* 	    font-family: Arial,Verdana,sans-serif !important; */
	/* 	    font-size: 11px !important; */
	/* 	    border-top-style: solid !important; */
	/* 	    border-top-width: 2px !important; */
	/* 	    cursor: pointer !important; */
	/* 	    text-align: center !important; */
	/* 	    width: 25px !important; */
	border-color: #c4c0b9 !important;
	border-style: solid !important;
	border-width: 1px !important;
}

.rf-ds-nmb-btn rf-ds-act {
	font-size: 11px !important;
}

/* 	border-top-style: solid; */
/*     border-top-width: 2px; */
/*     text-align: center; */
/*     width: 25px; */
.rf-ds-btn .rf-ds-btn-first .rf-ds-dis {
	border-style: solid !important;
}

.rf-ds-nmb-btn .rf-ds-act {
	width: 25px !important;
	border-top-style: solid !important;
	border-top-width: 2px !important;
	text-align: center !important;
	font-size: 11px !important;
	cursor: default !important;
}

.rf-ds-nmb-btn {
	width: 25px !important;
	border-top-style: solid !important;
	border-top-width: 2px !important;
	text-align: center !important;
	font-size: 11px !important;
	cursor: pointer !important;
}

.rf-ds-btn-next .rf-ds-btn-fastfwd .rf-ds-btn-last {
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	text-align: center;
	width: 25px;
}

.rf-ds-nmb-btn {
	background: white !important;
}

.rf-ds-btn .rf-ds-btn-first .rf-ds-dis .rf-ds-btn-fastrwd .rf-ds-btn-fastrwd {
	width: 25px !important;
	border-top-style: solid !important;
	border-top-width: 2px !important;
	text-align: center !important;
	font-size: 11px !important;
	cursor: pointer !important;
}

.rf-ds-btn {
	
}

.w10 {
    width: 10%;
}

.w80 {
    width: 80%;
}

.inputAutocomplete {
	background-color: none !important;
	background-image: none !important;
	vertical-align: none !important;
	height: 26px !important;
	width: 240px !important;
}

input.rf-au-inp {
	background-color: none !important;
	background-image: none !important;
	vertical-align: none !important;
	height: 26px !important;
	width: 240px !important;
}

.divFlutuanteApoioProfessor{
    width: 89%;
    text-align: left;
    vertical-align: middle;
    z-index: 10000;
    top: 97%;
    position: absolute;
}

.headerPanelRecursoEducacional{
	width: 100%;
    background-color: transparent !important;
    background-image: none !important;
    border: none !important;
    padding: 0px !important;
}

.w50 {
	width: 400px;
}

.w20 {
	width: 20%;
}

.radioboxMarcado {
	border: none;
	background: url("#{resource['./imagens/radioButtomMarcado2.png']}");
	background-color: transparent;
	background-position: bottom;
	margin: 0px;
	padding: 0px;
	width: 16px;
	height: 16px;
}

.radioboxDesmarcado {
	border: none;
	background: url("#{resource['./imagens/radioButtomDesmarcado2.png']}");
	background-color: transparent;
	background-position: bottom;
	margin: 0px;
	padding: 0px;
	width: 16px;
	height: 16px;
}

.checkboxMarcado {
	border: none;
	background: url("#{resource['./imagens/checkboxMarcado2.png']}") no-repeat;
	background-color: transparent;
	background-position: bottom;
	margin: 0px;
	padding: 0px;
	width: 16px;
	height: 16px;
}

.checkboxDesmarcado {
	border: none;
	background: url("#{resource['./imagens/checkboxDesmarcado2.png']}") no-repeat;
	background-position: bottom;
	background-color: transparent;
	margin: 0px;
	padding: 0px;
	width: 16px;
	height: 16px;
}

.alternativaCorreta {
	background-color: #D1FFC1;
}

.alternativaIncorreta {
	background-color: #FF3333;
}

.respostaOcultada {
	background-color: transparent;
}

.tituloCamposOpcaoRespostaQuestao {
	color: #000;
	padding: 0px;
	font: 12px arial;
	text-align: right;
	vertical-align: top;
	font-weight: normal;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	background-color: transparent;
	margin: 0px;
	border: none;
}

.tituloCamposOpcaoRespostaQuestaoErrada {
	color: #000;
	padding: 0px;
	font: 12px arial;
	text-align: right;
	vertical-align: top;
	font-weight: normal;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	background: url("#{resource['./imagens/errouOpcaoResposta.png']}") no-repeat;
	background-position: left;
	background-color: transparent;
	margin: 0px;
	border: none;
}

.tituloCamposOpcaoRespostaQuestaoCorreta {
	color: #000;
	padding: 0px;
	font: 12px arial;
	text-align: right;
	vertical-align: top;
	font-weight: normal;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	background: url("#{resource['./imagens/acertouOpcaoResposta.gif']}") no-repeat;
	background-position: left;
	background-color: transparent;
	margin: 0px;
	border: none;
}

.tituloCamposJustificativa {
	color: #666666;
	padding: 3px;
	font: 12px arial;
	text-align: left;
	vertical-align: middle;
	font-weight: normal;
}

.tituloCamposJustificativa:hover {
	color: #333333;
	padding: 3px;
	font: 12px arial;
	text-align: left;
	vertical-align: middle;
	font-weight: bold;
}

.opcaoRespostaBack {
	background-color: transparent;
}

.opcaoRespostaBack:hover {
	background-color: #E2E2E2;
}

.tabForm {
	border-spacing: 0px;
	border-color: #fff;
	font: 12px arial;
	padding: 3px;
	border: 0px solid #fff;
	vertical-align: top;
}

.tituloCamposReduzidosNegrito {
    font: 8pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #000000;
    text-align: right;
    font-weight: bold;

}

*.rf-dg-c {
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: #C4C0C9;
    border-right-width: 0px;
    border-right-style: solid;
    border-right-color: #C4C0C9;
    color: #000000;
    font-family: Arial, Verdana, sans-serif;
    font-size: 11px;
}

.navOpen a:link {
	font: 11px arial;
	color: black;
}

.w15 {
	width: 15%;
}

.w20 {
	width: 20%;
}

.w40 {
	width: 40%;
}


.w80 {
	width: 80%;
}

.w10 {
	width: 10%;
}

.w90 {
	width: 90%;
}

.linkdisabled {
	text-decoration: none !important;
}

.camposObrigatorioSomenteLeitura {
	background-color: #ffffff;
	padding: 3px;
	margin-bottom: 3px;
	font: 11px arial;
	height: 26px;
	padding: 3px;
	color: #333333;
	border: 1px solid #CCCCCC;
	border-left-color: #FA4D4D;
}

.columnSemBorda .rf-dg-c {
	border-right: none !important;
	border-right-width: 0px !important;
	padding: 0px !important;
	border:none !important;
}

*.rf-ntf-inf *.rf-ntf-ico {
	display: block;
	background-image: url("#{resource['imagens/sucesso.gif']}") !important;
}



.botaoGravar {
	color: #fff;
	opacity: 0.7;
	margin: 0 3px;
	font-size: 13px;
	font-weight: bold;
	padding: 1px 4px;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
	-moz-border-radius: 3px;
	border: 1px solid #669900;
	-webkit-border-radius: 3px;
	background-color: #669900;
}
.semBordaSemMargin .rf-dg-c {
	border-right: none !important;
	border-right-width: 0px !important;
	padding: 0px !important;
	border:none !important;
}

.camposObrigatoriosTextArea {
	background-color: #ffffff;
	border: 1px solid #CCCCCC;
	border-left-color: #FA4D4D;
	border-left-width: 2;
}

.camposSomenteLeituraTextArea {
	background-color: #ffffff;
	border: 1px solid #CCCCCC;
}


.modalMaximizado{
	width: 80% !important;
	height: 80% !important;
}

.modalMaximizado100{
	width: 99% !important;
	height: 99% !important;
	max-width: 99% !important;
	max-height: 99% !important;
	top:3px !important;;
	left:3px !important;
}

.rf-pp-cnt-scrlr{
	width: 100% !important;
	height: 96% !important;
}

.colunaCHConsiderada{
 padding-left: 17px;
 vertical-align: middle;
}
.colunaCHPendente{
 padding-left: 13px;
 vertical-align: middle;
}
