<!DOCTYPE html>
<html ng-app="campanhaLigacaoReceptivaApp" lang="pt-BR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>


<h2>Tire Suas Dúvidas</h2>
<div class="form-group">
	<div>
		<!-- 								<h4>Tire Suas Dúvidas</h4> -->

		<div class="form-group">
			<div style="overflow: auto; min-height: 50px; max-height: 100px;">
				<span class="input-group-addon" id="sizing-addon2">Unidade de Ensino *</span> <select name="singleSelect" required="true" ng-model="campanha.codigoUnidadeEnsino" class="form-control">
					<option value="1">São Luíz - MA</option>
					<option value="2">Brasília - DF</option>
					<option value="3">Palmas - TO</option>
				</select>
			</div>
		</div>

	</div>
	<div class="form-group">
		<div class="input-group input-group-sm">
			<span class="input-group-addon" id="sizing-addon2">Nome *</span> <input id="nomePreInscricao" class="form-control" placeholder="Nome" ng-model="campanha.pessoa.nome" aria-describedby="sizing-addon2" required="" autofocus="">
		</div>
	</div>
	<div class="form-group">
		<div class="input-group input-group-sm">
			<span class="input-group-addon">E-mail *</span> <input id="emailPreInscricao" class="form-control" placeholder="E-Mail" ng-model="campanha.pessoa.email" ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/" required="" autofocus="" type="email">
		</div>
	</div>
	<div class="form-group">
		<div class="input-group input-group-sm">
			<span class="input-group-addon" id="sizing-addon2">Telefone Residencial</span> <input id="telefoneResidencialPreInscricao" class="form-control" ui-mask="(99) 9999-9999" aria-describedby="sizing-addon2" ng-model="campanha.pessoa.telefoneResidencial" required="" autofocus=""> <span class="input-group-addon" id="sizing-addon2">Celular</span> <input id="celularPreInscricao" class="form-control" ui-mask="(99) 99999-9999" ng-model="campanha.pessoa.celular" aria-describedby="sizing-addon2" required="" autofocus="">
		</div>
	</div>
	<div class="form-group">
		<div class="input-group input-group-sm">
			<span class="input-group-addon" id="sizing-addon2">Dúvida *</span> <input id="duvida" class="form-control" placeholder="Dúvida" ng-model="campanha.duvida" aria-describedby="sizing-addon2" required="" autofocus="">
		</div>
	</div>
	<div class="btn-group right" role="group" aria-label="...">
<!-- 		<button type="button" ng-click="voltarTelaInicial()" class="btn btn-default">Voltar</button> -->
		<button type="button" ng-click="gerarAgendaLigacaoReceptivaTireSuasDuvidasCampanhaCRM(10, 11)" class="btn btn-default">Enviar Dúvida</button>
	</div>
</div>
<br></br>




</html>