/* .cliente-bg { */
/* 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F2F2F2), color-stop(1, #CCCCCC)) !important; */
/*     background: #F2F2F2;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#F2F2F2',endColorStr='#CCCCCC',gradientType='0'); */
/*     background: -moz-linear-gradient(bottom, #F2F2F2 0%, #CCCCCC 100%);  */
/* } */

/* .cor-cliente {color:#c4161c!important;} */
/* .corTopo{background-color:#c4161c!important} */


/* SOMENTE ADICIONAR CSS ESPECÍFICO DO CLIENTE NESTE ARQUIVO, POIS O SCRIPT DE GERAÇÃO DE WAR SUBSTITUI ESTE ARQUIVO PARA CADA CLIENTE */