.headerMiniCalendario {
/* 	background: url("#{resource['V2/imagens/degrade1.png']}") repeat-x scroll 0 0 #EDEFEF; */
	border-top: 1.5px solid #ededed;
	border-bottom: 1.5px solid #ededed;
	font: bold 12px arial;
	vertical-align: top;
	vertical-align: middle;	
	line-height: 30px;
}




.headerPanelTopoAgenda {
	background: url("#{resource['V2/imagens/degrade1.png']}") repeat-x scroll 0 0 #EDEFEF;
	border: 1px solid #DDDDDD;
	font: bold 10px arial;
	padding: 0;
	vertical-align: top;
	vertical-align: middle;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
}

.botoesMiniCalendario {
	display: inline-block;
    opacity: 0.7;
    margin: 0 3px;
    font: normal 10px arial;
    padding: 0px;
    border-radius: 3px;
    text-decoration: none;
    border: none;
    vertical-align: middle;
    background-color: #fff;
    width: 100%;
    cursor: pointer;
    line-height: 30px;
}


.colunaOutroMes {
	padding: 4px !important;
	text-align: center;
	background-color: #FFFFFF !important;
	
}

.colunaOutroMes:hover {
	background-color: #E2E2E2;
}


.legendaColunaHorarioLivre {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #FFFFFF;
	border-color:black;
}
.colunaHorarioLivre {
	padding: 4px !important;
	text-align: center;
	background-color: #FFFFFF !important;		 
}

.colunaHorarioLivre:hover {
	background-color: #ededed;
}

.legendaColunaHorarioSelecionada {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #007bff;
	border-color:black;	
	display: inline-block;
    margin-right: 5px;
    position: relative;
    top:1px;
}
.colunaHorarioSelecionada {
   padding: 4px !important;
   text-align: center;
   background-color: #007bff;   
   border-radius: 50%  !important;
   color: #fff !important;
}
.colunaHorarioSelecionada:hover{
	background-color: #ededed;
  font-weight: bold;
}

.legendaHorarioRegistroLancado {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #17a2b8;
	border-color:black;
	display: inline-block;
    margin-right: 5px;
    position: relative;
    top:1px;
}
.horarioRegistroLancado {
   padding: 4px !important;
   text-align: center;
   background-color: #17a2b8 !important;
   border-radius: 50%  !important;
   color: #fff !important;
}

.horarioRegistroLancado:hover{
   background-color: #ededed;
   font-weight: bold;
}

.legendaFeriado {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ffc107;
	border-color:black;
	display: inline-block;
    margin-right: 5px;
    position: relative;
    top:1px;
}
.horarioFeriado {
   padding: 4px !important;
   text-align: center;
   background-color: #ffc107 !important;
   border-radius: 50%  !important;
   color: #000 !important;
}

.horarioFeriado:hover{
   background-color: #ededed;
}

.diaMiniCalendario {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif !important;
	font: normal 10px arial !important;
	vertical-align: middle !important;
	text-decoration: none !important;
/* 	color: gray !important; */
	line-height: 30px !important;
	font-weight: bold;
}	

.tituloHorarios {
    color: #424242;
    font-size: 13px;
    padding-bottom: 3px; 
    margin-bottom: 15px;
    border-bottom: 2px solid #424242;
    font-weight: bold;
    border-top:none;
    border-left:none;
    border-right:none;
}

.tituloHorariosSemBorda {
    color: #424242;
    font-size: 13px;
    padding-bottom: 3px; 
    margin-bottom: 15px;
    font-weight: bold;
    border-top:none;
    border-left:none;
    border-right:none;
}





