
.fixoEsquerda{
    position: relative;
    text-align: left;

}
#pagina{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.topoVisao{
    background-image: url('../imagens/visao/topoVisao.png');
    width:980px;
    height:120px;
    margin: 0 auto;
    text-align: center;
    background-position: center;
}
.conteudo{
    width:980px;
    height:120px;
    margin: 0 auto;
    text-align: center;
    background-position: center;
    margin-top: 5px;
}
.menuVisao{
    background-image: url('../imagens/visao/topoMenuVisao.png');
    background-repeat: no-repeat;
    float: left;
    width:160px;
    height: 600px;
    vertical-align: top;

    text-align: center;
}
.conteudoVisao{
    background-image: url('../imagens/visao/fundoConteudo.png');
    background-repeat: no-repeat;
    width:820px;
    height: 600px;
    float: left;
    vertical-align: top;
    text-align: center;
}

.menuCentral{
    width:645px;
    height: 600px;
    text-align: center;
    float: left;
    margin-top: 1px;
    background-repeat: no-repeat;
}

.menuCentralTelasConteudo{
    width:645px;
    height: 600px;
    text-align: center;
    float: left;
    margin-top: 1px;
    background-repeat: no-repeat;
}
.menuCentralTelasConteudoAvaliacao{
    width:100%;
    height: 600px;
    text-align: center;
    float: left;
    margin-top: 1px;
    background-repeat: no-repeat;
}
.linhaTabelaAvaliacao {
    height: 1px;
    padding: 0px;
    margin: 0px;
}

.menuCentralVisao{
    background-image: url('../imagens/visao/fundoMenuCentral.png');
    width:188px;
    height: 188px;
    float: left;
    text-align: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 20px;
}

.menuCentralVisaoRelatorio{
    background-image: url('../imagens/visao/fundoMenuCentralRelatorio.png');
    width:130px;
    height: 130px;
    float: left;
    text-align: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-left: 20px;
}

.menuItens{
    width: 94%;
    margin-top: 10px;
    margin-left: 5px;
    background-image: url('../imagens/visao/lateralMenuVisao.png');
    background-repeat: repeat-y;
    background-position: right;
}

.rodapeMenuVisao{
    float: left;
    width: 100%;
    margin-left: 0px;
    background-image: url('../imagens/visao/rodapeMenuVisao.png');
    background-repeat: no-repeat;
}



.noticiaVisao{
    background-image: url('../imagens/visao/fundoNoticia.png');
    margin-top: 30px;
    margin-right: 7px;
    width:162px;
    height: 390px;
    text-align: center;
    float: left;
    background-repeat: no-repeat;
}


.tituloMenuVisaoCentral{
    font: 12pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #999999;
    text-align: center;

}
.tituloMenuVisaoCentralRelatorio{
    font: 9pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #999999;
    text-align: center;

}
.tituloMenuVisao{
    font: 10pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
    color: #999999;
    text-align: center;
}
.hoverMenuVisao{
    background-color:#F3F3F3;
}
.menuItemVisao{
    border-top:0px;
    margin-top:5px;
    color: #333333;
    font: 8pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
}
.menuItemVisaoAvaliacao {
    border-top:0px;
    color: #333333;
    text-decoration: none;
    font: 8pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
}
.dataGridMenuAvaliacao * {
    border: none;
}
.dataGridAvaliacao {
    height: 10px;
}
.menuItemVisaoAvaliacao:hover {
    background-color: #F3F3F3;
}

.destinatario{
    border-top:0px;
    color: #999999;
    font: 8pt 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
}

.menuRedesSociais{
    width:150px;
    text-align: center;
    margin-top: 10px;
    margin-left: 15px;
    height: 30px;
}

.noticias{
    width:150px;
    height: 130px;
    text-align: center;
    margin-top: 10px;
}

.separator{
    background-color:#CCCCCC;
    margin-left:10px;
    margin-right: 10px;
    height:1px;
    width:88%;
}
.logoTopo{
     float: left;
     width: 40px;
}

.boasVindasTopo{
     width: 650px;
     height: 110px;
     float: left;
     text-align: left;
     margin-left: 20px;
     margin-top: 10px;
}

.fotoTopo{
    height: 110px;
    width: 90px;
    height: 100px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}

