
#upload-button {
	width: 150px;
	display: block;
	margin: 20px auto;
}

#file-to-upload {
	display: none;
}

/* #pdf-main-container { */
/* 	width: 400px; */
/* 	margin: 20px auto; */
/* } */

#pdf-loader {
	display: none;
	text-align: center;
	color: #999999;
	font-size: 13px;
	line-height: 100px;
	height: 100px;
}

.pdf-contents {
	display: none;
}

.pdf-meta {	
	overflow: hidden;
	margin: 0 0 0px 0;
	background-color: #474747; 	
	box-shadow: inset 0 1px 1px hsla(0,0%,0%,.15), inset 0 -1px 0 hsla(0,0%,100%,.05), 0 1px 0 hsla(0,0%,0%,.15), 0 1px 1px hsla(0,0%,0%,.1);
}

.pdf-buttons {	
	display: block;
}

.page-count-container {
	float: left;
	color: #ffffff;
	font-size: 14px;
	padding: 3px;
	font-family: arial;
}

.df-current-page {
	display: inline;	
}

.pdf-total-pages {
	display: inline;	
}

#pdf-canvas {
	border: 1px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
	pointer-events: none !important;
}

#pdf-canvas-view{
	
}

.page-loader {
	height: 100px;
	line-height: 100px;
	text-align: center;
	display: none;
	color: #999999;
	font-size: 13px;
}

.botoesPdfView{
	border: none;	
	color: #ffffff;
	background-color: transparent;
	padding: 5px;	
	border: 1px solid #474747;
	font-size:18px;
	font-family: arial;
	margin-left:5px;
}

.botoesPdfView:hover{
	text-transform:uppercase;
	font-weight: bold;
	border: 1px solid #cccccc;
}

.page-zoom-container{
	float: right;
	padding: 3px;
	display: block;
}