<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>SEI Plataforma Educacional</display-name>
  <context-param>
    <param-name>com.sun.faces.enableViewStateIdRendering</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>timezone</param-name>
    <param-value>GMT-3</param-value>
  </context-param>
  <context-param>
    <param-name>locale</param-name>
    <param-value>pt_BR</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>org.richfaces.enableControlSkinning</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/context.xml</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.verifyObjects</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.validateXml</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.numberOfViewsInSession</param-name>
    <param-value>20</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.numberOfViewsInSession</param-name>
    <param-value>15</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.numberOfLogicalViews</param-name>
    <param-value>30</param-value>
  </context-param>
<!--   <servlet> -->
<!--     <servlet-name>VisualizadorHorarioTurma</servlet-name> -->
<!--     <servlet-class>controle.academico.VisualizadorHorarioTurma</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>PreInscricaoSV</servlet-name> -->
<!--     <servlet-class>webservice.servicos.PreInscricaoSV</servlet-class> -->
<!--   </servlet> -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
	<listener-class>controle.arquitetura.SessionListener</listener-class>
  </listener>
  <context-param>
    <param-name>javax.faces.FACELETS_LIBRARIES</param-name>
    <param-value>/WEB-INF/otmcomponentes.xml</param-value>
  </context-param>
<!--   <servlet> -->
<!--     <servlet-name>DadosMatriculaSV</servlet-name> -->
<!--     <servlet-class>relatorio.controle.academico.DadosMatriculaSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>ExpedicaoDiplomaSV</servlet-name> -->
<!--     <servlet-class>relatorio.controle.academico.ExpedicaoDiplomaSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>ImpressaoMatricialSV</servlet-name> -->
<!--     <servlet-class>controle.financeiro.ImpressaoMatricialSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>BoletoBancarioSV</servlet-name> -->
<!--     <servlet-class>relatorio.controle.financeiro.BoletoBancarioSV</servlet-class> -->
<!--   </servlet> -->
  <servlet>
    <servlet-name>FavoritoSV</servlet-name>
    <servlet-class>controle.arquitetura.FavoritoSV</servlet-class>
  </servlet>
<!--   <servlet> -->
<!--     <servlet-name>ControleCobrancaSV</servlet-name> -->
<!--     <servlet-class>relatorio.controle.financeiro.ControleCobrancaSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>NewServlet</servlet-name> -->
<!--     <servlet-class>relatorio.arquitetura.SuperRelatorioSV</servlet-class> -->
<!--   </servlet> -->
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>VisualizadorRelatorio</servlet-name>
    <servlet-class>relatorio.arquitetura.VisualizadorRelatorio</servlet-class>
    <init-param>
      <param-name>versaoSoftware</param-name>
      <param-value>1.0</param-value>
    </init-param>
  </servlet>
<!--   <servlet> -->
<!--     <servlet-name>ImageServlet</servlet-name> -->
<!--     <servlet-class>relatorio.arquitetura.ImageServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>ImageServlet</servlet-name> -->
<!--     <url-pattern>/relatorio/image</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>ImageServlet</servlet-name> -->
<!--     <url-pattern>/image</url-pattern> -->
<!--   </servlet-mapping> -->
  <servlet-mapping>
    <servlet-name>VisualizadorRelatorio</servlet-name>
    <url-pattern>/VisualizadorRelatorio</url-pattern>
  </servlet-mapping>
<!--   <servlet-mapping> -->
<!--     <servlet-name>BoletoBancarioSV</servlet-name> -->
<!--     <url-pattern>/BoletoBancarioSV</url-pattern> -->
<!--   </servlet-mapping> -->
  <servlet-mapping>
    <servlet-name>FavoritoSV</servlet-name>
    <url-pattern>/FavoritoSV</url-pattern>
  </servlet-mapping>
<!--   <servlet-mapping> -->
<!--     <servlet-name>ImpressaoMatricialSV</servlet-name> -->
<!--     <url-pattern>/ImpressaoMatricialSV</url-pattern> -->
<!--   </servlet-mapping> -->
  <servlet>
	<servlet-name>CredencialGoogleHttpServlet</servlet-name>
	<servlet-class>webservice.gsuite.comuns.arquitetura.CredencialGoogleHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CredencialGoogleHttpServlet</servlet-name>
    <url-pattern>/CredencialGoogleHttpServlet</url-pattern>
  </servlet-mapping>
  
<!--   <servlet-mapping> -->
<!--     <servlet-name>ControleCobrancaSV</servlet-name> -->
<!--     <url-pattern>/ControleCobrancaSV</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>NewServlet</servlet-name> -->
<!--     <url-pattern>/NewServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>DadosMatriculaSV</servlet-name> -->
<!--     <url-pattern>/DadosMatriculaSV</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>ExpedicaoDiplomaSV</servlet-name> -->
<!--     <url-pattern>/ExpedicaoDiplomaSV</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>VisualizadorHorarioTurma</servlet-name> -->
<!--     <url-pattern>/VisualizadorHorarioTurma</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>PreInscricaoSV</servlet-name> -->
<!--     <url-pattern>/preinscricaoservice</url-pattern> -->
<!--   </servlet-mapping> -->
  <session-config>
    <session-timeout>45</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.xhtml</welcome-file>
  </welcome-file-list>
  <!-- <login-config>
    <auth-method>CLIENT-CERT</auth-method>
  </login-config> -->
  <error-page>
    <exception-type>javax.faces.application.ViewExpiredException</exception-type>
    <location>/index.xhtml</location>
  </error-page>
  <servlet>
    <servlet-name>VisualizarContrato</servlet-name>
    <servlet-class>controle.financeiro.VisualizarContrato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizarContrato</servlet-name>
    <url-pattern>/VisualizarContrato</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>DownloadSV</description>
    <display-name>DownloadSV</display-name>
    <servlet-name>DownloadSV</servlet-name>
    <servlet-class>controle.arquitetura.DownloadSV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadSV</servlet-name>
    <url-pattern>/DownloadSV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>DownloadRelatorioSV</description>
    <display-name>DownloadRelatorioSV</display-name>
    <servlet-name>DownloadRelatorioSV</servlet-name>
    <servlet-class>controle.arquitetura.DownloadRelatorioSV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadRelatorioSV</servlet-name>
    <url-pattern>/DownloadRelatorioSV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComprovanteRenovacaoMatriculaSV</display-name>
    <servlet-name>ComprovanteRenovacaoMatriculaSV</servlet-name>
    <servlet-class>controle.arquitetura.ComprovanteRenovacaoMatriculaSV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComprovanteRenovacaoMatriculaSV</servlet-name>
    <url-pattern>/ComprovanteRenovacaoMatriculaSV</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConverteGetParaPostServletInteracao</servlet-name>
    <servlet-class>controle.arquitetura.ConverteGetParaPostServletInteracao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConverteGetParaPostServletInteracao</servlet-name>
    <url-pattern>/ConverteGetParaPostServletInteracao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConverteGetParaPostServletComunicacaoInterna</servlet-name>
    <servlet-class>controle.arquitetura.ConverteGetParaPostServletComunicacaoInterna</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConverteGetParaPostServletComunicacaoInterna</servlet-name>
    <url-pattern>/ConverteGetParaPostServletComunicacaoInterna</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConverteGetParaPostServletFollowUp</servlet-name>
    <servlet-class>controle.arquitetura.ConverteGetParaPostServletFollowUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConverteGetParaPostServletFollowUp</servlet-name>
    <url-pattern>/ConverteGetParaPostServletFollowUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConverteGetParaPostServletLiberacaoCancelamentoTrancamento</servlet-name>
    <url-pattern>/ConverteGetParaPostServletLiberacaoCancelamentoTrancamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConverteGetParaPostServletLiberacaoCancelamentoTrancamento</servlet-name>
    <servlet-class>controle.arquitetura.ConverteGetParaPostServletLiberacaoCancelamentoTrancamento</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AvaliarAtendimentoServlet</servlet-name>
    <servlet-class>controle.arquitetura.AvaliarAtendimentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvaliarAtendimentoServlet</servlet-name>
    <url-pattern>/AvaliarAtendimentoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Service</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/highcharts-servlet.xml</param-value>
    </init-param>
    <load-on-startup>8</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Service</servlet-name>
    <url-pattern>/grafico/*</url-pattern>
    <url-pattern>/scanner/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>UploadServlet</display-name> -->
<!--     <servlet-name>UploadServlet</servlet-name> -->
<!--     <servlet-class>controle.protocolo.UploadServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>UploadServlet</servlet-name> -->
<!--     <url-pattern>/UploadServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>LoginServlet</display-name> -->
<!--     <servlet-name>LoginServlet</servlet-name> -->
<!--     <servlet-class>webservice.servicos.LoginServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>LoginServlet</servlet-name> -->
<!--     <url-pattern>/LoginServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>ComunicacaoInternaSV</display-name> -->
<!--     <servlet-name>ComunicacaoInternaSV</servlet-name> -->
<!--     <servlet-class>webservice.servicos.ComunicacaoInternaSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>ComunicacaoInternaSV</servlet-name> -->
<!--     <url-pattern>/ComunicacaoInternaSV</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>UnidadeEnsinoSV</display-name> -->
<!--     <servlet-name>UnidadeEnsinoSV</servlet-name> -->
<!--     <servlet-class>webservice.servicos.UnidadeEnsinoSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>UnidadeEnsinoSV</servlet-name> -->
<!--     <url-pattern>/unidadeEnsinoSV</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>MatriculaConfirmadaSV</display-name> -->
<!--     <servlet-name>MatriculaConfirmadaSV</servlet-name> -->
<!--     <servlet-class>webservice.servicos.MatriculaConfirmadaSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>MatriculaConfirmadaSV</servlet-name> -->
<!--     <url-pattern>/matriculaConfirmadaSV</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>CursoSV</display-name> -->
<!--     <servlet-name>CursoSV</servlet-name> -->
<!--     <servlet-class>webservice.servicos.CursoSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>CursoSV</servlet-name> -->
<!--     <url-pattern>/cursoSV</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>TurmaSV</display-name> -->
<!--     <servlet-name>TurmaSV</servlet-name> -->
<!--     <servlet-class>webservice.servicos.TurmaSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>TurmaSV</servlet-name> -->
<!--     <url-pattern>/turmaSV</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>TurmaUnidadeEnsinoSV</display-name> -->
<!--     <servlet-name>TurmaUnidadeEnsinoSV</servlet-name> -->
<!--     <servlet-class>webservice.servicos.TurmaUnidadeEnsinoSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>TurmaUnidadeEnsinoSV</servlet-name> -->
<!--     <url-pattern>/turmaUnidadeEnsinoSV</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>TurmaUnidadeEnsinoSV_V2</display-name> -->
<!--     <servlet-name>TurmaUnidadeEnsinoSV_V2</servlet-name> -->
<!--     <servlet-class>webservice.servicos.TurmaUnidadeEnsinoSV_V2</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>TurmaUnidadeEnsinoSV_V2</servlet-name> -->
<!--     <url-pattern>/turmaUnidadeEnsinoSV_V2</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>CondicaoPagamentoTurmaSV</display-name> -->
<!--     <servlet-name>CondicaoPagamentoTurmaSV</servlet-name> -->
<!--     <servlet-class>webservice.servicos.CondicaoPagamentoTurmaSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>CondicaoPagamentoTurmaSV</servlet-name> -->
<!--     <url-pattern>/condicaoPagamentoTurmaSV</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>SituacaoMatriculaAlunoSV</display-name> -->
<!--     <servlet-name>SituacaoMatriculaAlunoSV</servlet-name> -->
<!--     <servlet-class>webservice.servicos.SituacaoMatriculaAlunoSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>SituacaoMatriculaAlunoSV</servlet-name> -->
<!--     <url-pattern>/situacaoMatriculaAlunoSV</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>DisciplinaTurmaSV</display-name> -->
<!--     <servlet-name>DisciplinaTurmaSV</servlet-name> -->
<!--     <servlet-class>webservice.servicos.DisciplinaTurmaSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>DisciplinaTurmaSV</servlet-name> -->
<!--     <url-pattern>/disciplinaTurmaSV</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>PlanoDescontoSV</display-name> -->
<!--     <servlet-name>PlanoDescontoSV</servlet-name> -->
<!--     <servlet-class>webservice.servicos.PlanoDescontoSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>PlanoDescontoSV</servlet-name> -->
<!--     <url-pattern>/planoDescontoSV</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>PlanoDescontoSV_V2</display-name> -->
<!--     <servlet-name>PlanoDescontoSV_V2</servlet-name> -->
<!--     <servlet-class>webservice.servicos.PlanoDescontoSV_V2</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>PlanoDescontoSV_V2</servlet-name> -->
<!--     <url-pattern>/planoDescontoSV_V2</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>StatusMatriculaSV</display-name> -->
<!--     <servlet-name>StatusMatriculaSV</servlet-name> -->
<!--     <servlet-class>webservice.servicos.StatusMatriculaSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>StatusMatriculaSV</servlet-name> -->
<!--     <url-pattern>/statusMatriculaSV</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>ProgramacaoAulaSV</display-name> -->
<!--     <servlet-name>ProgramacaoAulaSV</servlet-name> -->
<!--     <servlet-class>webservice.servicos.ProgramacaoAulaSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>ProgramacaoAulaSV</servlet-name> -->
<!--     <url-pattern>/programacaoAulaSV</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>CondicaoPagamentoUnidadeEnsinoSV</display-name> -->
<!--     <servlet-name>CondicaoPagamentoUnidadeEnsinoSV</servlet-name> -->
<!--     <servlet-class>webservice.servicos.CondicaoPagamentoUnidadeEnsinoSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>CondicaoPagamentoUnidadeEnsinoSV</servlet-name> -->
<!--     <url-pattern>/condicaoPagamentoUnidadeEnsinoSV</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <description></description> -->
<!--     <display-name>DisciplinaUnidadeEnsinoSV</display-name> -->
<!--     <servlet-name>DisciplinaUnidadeEnsinoSV</servlet-name> -->
<!--     <servlet-class>webservice.servicos.DisciplinaUnidadeEnsinoSV</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>DisciplinaUnidadeEnsinoSV</servlet-name> -->
<!--     <url-pattern>/disciplinaUnidadeEnsinoSV</url-pattern> -->
<!--   </servlet-mapping> -->
  <servlet>
    <servlet-name>Webservice</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
        <param-name>com.sun.jersey.config.property.packages</param-name>
        <param-value>webservice</param-value> 
     </init-param>    
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Webservice</servlet-name>
    <url-pattern>/webservice/*</url-pattern>
  </servlet-mapping>
  <servlet>
	<description>InfoSV</description>
	<display-name>InfoSV</display-name>
	<servlet-name>InfoSV</servlet-name>
	<servlet-class>controle.arquitetura.InfoSV</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>InfoSV</servlet-name>
	<url-pattern>/InfoSV</url-pattern>
  </servlet-mapping>
  <servlet>
	<description>SessionSV</description>
	<display-name>SessionSV</display-name>
	<servlet-name>SessionSV</servlet-name>
	<servlet-class>controle.arquitetura.SessionSV</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>SessionSV</servlet-name>
	<url-pattern>/SessionSV</url-pattern>
  </servlet-mapping>
  <servlet>
	<description>ScriptSV</description>
	<display-name>ScriptSV</display-name>
	<servlet-name>ScriptSV</servlet-name>
	<servlet-class>controle.arquitetura.ScriptSV</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>ScriptSV</servlet-name>
	<url-pattern>/ScriptSV</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>cors</filter-name>
    <filter-class>webservice.servicos.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>cors</filter-name>
    <url-pattern>/webservice/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>httpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>httpMethodFilter</filter-name>
    <servlet-name>mvc-dispatcher</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>DefaultServletOverride</servlet-name>
    <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    <init-param>
      <param-name>listings</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultServletOverride</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
  <login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Monitoring</realm-name>
	</login-config>
	<security-role>
		<role-name>monitoring</role-name>
	</security-role>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Monitoring</web-resource-name>
			<url-pattern>/monitoring</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>monitoring</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>