form {
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  -o-user-select: none;
  user-select: none;  
}

.block_select {
   -webkit-user-select: none !important; 
  -moz-user-select: none !important;     
  -ms-user-select: none !important;      
  -o-user-select: none !important;
  user-select: none !important;  
}