body.utility-page #main {
    background-color: #003c7e !important;
}
.cliente-bg {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F2F2F2), color-stop(1, #CCCCCC)) !important;
    background: #F2F2F2;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#F2F2F2',endColorStr='#CCCCCC',gradientType='0');
    background: -moz-linear-gradient(bottom, #F2F2F2 0%, #CCCCCC 100%); 
}

.cor-cliente {color:#003c7e !important;}
.corTopo{background-color:#003c7e !important}

body.sb-l-m #sidebar_left .nav.sidebar-menu {background-color: #003c7e !important;}
body.sb-l-m #sidebar_left {background-color: #003c7e !important;}
.corLoginResponsivo{background-color: #003c7e !important;top: 58px;}
.rf-ds-btn:hover{background: #003c7e !important;border-color: #003c7e !important;opacity: inherit;}
body.sb-l-m .sidebar-menu > li > ul {background-color: #003c7e !important;}
body.sb-l-m .sidebar-menu > li > a > .sidebar-title {background-color: #003c7e !important;}
.corFonteMenu{color:#003c7e !important;}
@media ( max-width : 1281px) {
.corFonteMenu{color:white !important}	
}


/* SOMENTE ADICIONAR CSS ESPECÍFICO DO CLIENTE NESTE ARQUIVO, POIS O SCRIPT DE GERAÇÃO DE WAR SUBSTITUI ESTE ARQUIVO PARA CADA CLIENTE */