						<h2>Dados Obrigat&oacute;rios</h2>
						<div class="form-group">
							<div class="form-group">
								<div class="input-group input-group-sm">
									<span class="input-group-addon" id="sizing-addon2">Nome  *</span> 
									<input id="nomePreInscricao" class="form-control" placeholder="Nome *" ng-model="pessoaObject.nome" aria-describedby="sizing-addon2" required="" autofocus="">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group input-group-sm">
									<span class="input-group-addon">CPF  *</span> 
									<input id="cpfPreInscricao" maxlength="14" class="form-control" ng-model="pessoaObject.cpf" required="" autofocus="" ui-mask="999.999.999.99" >
									<span class="input-group-addon">RG  *</span> 
									<input id="rgPreInscricao" maxlength="14" class="form-control" ng-model="pessoaObject.rg" required="" autofocus="" ui-mask="9999999" >
									<span class="input-group-addon">E-mail  *</span> 
									<input id="emailPreInscricao" class="form-control" placeholder="E-Mail *" ng-model="pessoaObject.email" ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/" required="" autofocus="" type="email">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group input-group-sm">
									<span class="input-group-addon" id="sizing-addon2">Telefone Residencial *</span> 
									<input id="telefoneResidencialPreInscricao" class="form-control" ui-mask="(99) 9999-9999" aria-describedby="sizing-addon2" ng-model="pessoaObject.telefoneResidencial" required="" autofocus=""> 
									<span class="input-group-addon" id="sizing-addon2">Celular  *</span> 
									<input id="celularPreInscricao" class="form-control" ng-model="pessoaObject.celular" ui-mask="(99) 99999-9999" aria-describedby="sizing-addon2" required="" autofocus="">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group input-group-sm">
									<span class="input-group-addon" id="sizing-addon2">CEP *</span> 
									<input type="text" id="cep" size="12" maxlength="10" class="form-control" aria-describedby="sizing-addon2" ui-mask="99.999-999" ng-model="pessoaObject.cep" ng-blur="consultarEndereco()" required="" autofocus=""> 
									<span class="input-group-addon" id="sizing-addon2">Endere&ccedil;o *</span> 
									<input id="endereco" class="form-control" placeholder="Endere&ccedil;o *" aria-describedby="sizing-addon2" ng-model="pessoaObject.endereco" required="" autofocus=""> 
								</div>
							</div>
							<div class="form-group">
								<div class="input-group input-group-sm">
									<span class="input-group-addon" id="sizing-addon2">Bairro/Setor *</span> 
									<input id="bairro" class="form-control" placeholder="Bairro/Setor *" aria-describedby="sizing-addon2" ng-model="pessoaObject.setor" required="" autofocus=""> 
									<span class="input-group-addon" id="sizing-addon2">N&uacute;mero *</span> 
									<input id="numero" size="12" class="form-control" placeholder="N&uacute;mero *" ng-model="pessoaObject.numero" aria-describedby="sizing-addon2" required="" autofocus="">
								</div>
							</div>
							<div class="form-group">
								<div class="input-group input-group-sm">
									<span class="input-group-addon" id="sizing-addon2">Estado *</span> 
									<select name="singleSelect" class="form-control" ng-model="pessoaObject.cidade.estado.codigo" ng-change="consultarCidade()">
										<option ng-repeat="estado in estados" value="{{estado.codigo}}">{{estado.sigla}}</option>										
									</select>
									<span class="input-group-addon" id="sizing-addon2">Cidade *</span> 
									<select name="singleSelect" class="form-control" ng-model="pessoaObject.cidade.codigo">
										<option ng-repeat="cidade in cidades" value="{{cidade.codigo}}">{{cidade.nome}}</option>										
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<div class="input-group input-group-sm">
									<span class="input-group-addon" id="sizing-addon2">Complemento *</span> 
									<input id="complemento" class="form-control" placeholder="Complemento *" aria-describedby="sizing-addon2" ng-model="pessoaObject.complemento" required="" autofocus="">
								</div>
							</div>
						</div>
						<br></br>
						<h2>Informa&ccedil;&otilde;es do Curso</h2>
						<div class="form-group">
							<div class="form-group">
								<div>
									<h4>Curso: <span>{{curso.nome}}</span> </h4>
								</div>
								<div>
									<h4 ng-if="matricula.possuiMaisDeUmaUnidadeEnsino == 'true'">Unidade de Ensino:
									<select ng-if="matricula.possuiMaisDeUmaUnidadeEnsino == 'true'" name="singleSelect" ng-model="matricula.codigoUnidadeEnsino" ng-change="atualizarDadosQuandoUnidadeEnsinoAlterado()">
										<option ng-if="matricula.possuiMaisDeUmaUnidadeEnsino == 'true'" ng-repeat="unidadeensino in matricula.unidadeEnsinos" value="{{unidadeensino.codigo}}">{{unidadeensino.nome}}</option>
										<option ng-if="matricula.possuiMaisDeUmaUnidadeEnsino == 'false'" value="{{matricula.unidadeEnsinos.codigo}}">{{matricula.unidadeEnsinos.nome}}</option>
									</select>
									</h4>
								</div>
								<div>
									<h4 ng-if="matricula.possuiMaisDeUmTurno == 'true'">Turno:
									<select ng-if="matricula.possuiMaisDeUmTurno == 'true'" name="singleSelect" ng-model="matricula.codigoTurno" ng-change="atualizarDadosQuandoTurnoAlterado()">
										<option ng-if="matricula.possuiMaisDeUmTurno == 'true'" ng-repeat="turno in matricula.turnos" value="{{turno.codigo}}">{{turno.nome}}</option>
										<option ng-if="matricula.possuiMaisDeUmTurno == 'false'" value="{{matricula.turnos.codigo}}">{{matricula.turnos.nome}}</option>
									</select></h4>
								</div>
								<div>
									<h4 ng-if="matricula.possuiMaisDeUmProcessoMatricula == 'true'">Calend&aacute;rio de Matr&iacute;cula:
									<select ng-if="matricula.possuiMaisDeUmProcessoMatricula == 'true'" name="singleSelect" ng-model="matricula.codigoProcessoMatricula">
										<option ng-if="matricula.possuiMaisDeUmProcessoMatricula == 'true'" ng-repeat="processomatricula in matricula.processoMatriculas" value="{{processomatricula.codigo}}">{{processomatricula.nome}}</option>
										<option ng-if="matricula.possuiMaisDeUmProcessoMatricula == 'false'" value="{{matricula.processoMatriculas.codigo}}">{{matricula.processoMatriculas.nome}}</option>
									</select></h4>
								</div>
								<div>
									<h4 ng-if="matricula.possuiMaisDeUmaTurma == 'true'">Turma:
									<select ng-if="matricula.possuiMaisDeUmaTurma == 'true'" name="singleSelect" ng-model="matricula.codigoTurma" ng-change="atualizarDadosQuandoTurmaAlterado()">
										<option ng-if="matricula.possuiMaisDeUmaTurma == 'true'" ng-repeat="turma in matricula.turmas" value="{{turma.codigo}}">{{turma.nome}}</option>
										<option ng-if="matricula.possuiMaisDeUmaTurma == 'false'" value="{{matricula.turmas.codigo}}">{{matricula.turmas.nome}}</option>
									</select></h4>
								</div>
								<div>
									<h4 ng-if="matricula.possuiMaisDeUmaCondicaoDePagamento == 'true'">Condi&ccedil;&otilde;es de Pagamento:
									<select ng-if="matricula.possuiMaisDeUmaCondicaoDePagamento == 'true'" name="singleSelect" ng-model="matricula.codigoCondicaoPagamento" ng-change="consultarCondicaoPagamento()">
										<option ng-if="matricula.possuiMaisDeUmaCondicaoDePagamento == 'true'" ng-repeat="condicaoPagamento in matricula.condicaoPagamentos" value="{{condicaoPagamento.codigo}}">{{condicaoPagamento.nome}}</option>
										<option ng-if="matricula.possuiMaisDeUmaCondicaoDePagamento == 'false'" value="{{matricula.condicaoPagamentos.codigo}}">{{matricula.condicaoPagamentos.nome}}</option>
									</select></h4>
									<h4 ng-if="condicaoPagamento.codigo">Valor da Matr&iacute;cula: {{condicaoPagamento.valorMatricula | currency: "R$ " : 2}}</h4>
									<h4 ng-if="condicaoPagamento.codigo">Valor da Mensalidade: {{condicaoPagamento.parcelas}} x {{condicaoPagamento.valorMensalidade | currency: "R$ " : 2}}</h4>
									<h4 ng-if="!condicaoPagamento.codigo">Não foram encontrados condições de pagamento para essa turma.</h4>
									<h4 ng-if="condicaoPagamento.categoria">Desconto: {{condicaoPagamento.categoria}}</h4>
								</div>
							</div>
							<div class="btn-group right" role="group" aria-label="...">
								<button type="button" ng-click="realizarMatricula()" class="btn btn-default">Matricular</button>
							</div>
						</div>