<h2>Realizar Pagamentos</h2>
<div class="form-group">
	<div class="form-group">
		<div class="input-group input-group-sm">
			<h4>
				Matr&iacute;cula: <span>{{matricula.matricula}}</span>
			<div class="btn-group right" role="group" aria-label="...">
				<a href="{{matricula.linkDownloadComprovante}}" target="_blank">
					<button type="button" class="btn btn-default">Comprovante Matr&iacute;cula</button>
				</a>
			</div></h4>
		</div>
	</div>
</div>

<div class="form-group">
	<div class="form-group">
		<div ng-show="negociacaoRecebimento.valorTotalAPagar != 0.0" class="input-group input-group-sm" style="width: 100%;">
			<h2>Formas de Pagamento</h2>
			<h4>Total de {{negociacaoRecebimento.valorTotalAPagar | currency: "R$ " : 2}} parcelado em {{negociacaoRecebimento.quantidadeParcelasAPagar}}x</h4>			
			<h4>Cart&atilde;o de Cr&eacute;dito</h4>
			<div style="overflow: auto; max-height: 500px; min-height: 150px;">
				<ul class="list-group">
					<div ng-repeat="formaPagamentoMatriculaOnlineExterna in formaPagamentoMatriculaOnlineExternas" ng-show="formaPagamentoMatriculaOnlineExternas.length > 0">
						<li class="list-group-item">
							<div class="panel panel-default">
								<div class="panel-heading">
									Cart&atilde;o de Cr&eacute;dito {{$index + 1}}
									<div class="btn-group right" role="group" aria-label="...">
										<button type="button" class="close" ng-if="$index != 0" data-ng-click="removerCartaoCredito($index)" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<div class="input-group input-group-sm">
											<span class="input-group-addon" id="sizing-addon2">Bandeira *</span> 
											<select name="singleSelect" class="form-control" style="width: 50%;" ng-model="formaPagamentoMatriculaOnlineExterna.codigoConfiguracaoFinanceiroCartao">
												<option ng-repeat="bandeira in bandeiras" value="{{bandeira.codigo}}">{{bandeira.bandeira}}</option>												
											</select>
											<span class="input-group-addon" id="sizing-addon2">Valor *</span> <input id="valor" class="form-control" placeholder="Valor" onkeydown="mascaraDecimal(this, event)" ng-model="formaPagamentoMatriculaOnlineExterna.valor" aria-describedby="sizing-addon2" required="" autofocus="">
										</div>
									</div>
									<div class="form-group">
										<div class="form-group">
											<div class="input-group input-group-sm">
												<span class="input-group-addon" id="sizing-addon2">N&uacute;mero do Cart&atilde;o *</span> <input id="numeroCartao" maxlength="20" onkeydown="somenteNumero(this, event)" class="form-control" placeholder="N&uacute;mero do Cart&atilde;o" ng-model="formaPagamentoMatriculaOnlineExterna.numeroCartao" aria-describedby="sizing-addon2" required="" autofocus="">
											</div>
										</div>
										<div class="form-group">
											<div class="input-group input-group-sm">
												<span class="input-group-addon" id="sizing-addon2">Nome no Cart&atilde;o *</span> <input id="nomeCartao" class="form-control" placeholder="Nome no Cart&atilde;o" ng-model="formaPagamentoMatriculaOnlineExterna.nomeNoCartao" aria-describedby="sizing-addon2" required="" autofocus="">
											</div>
										</div>
										<div class="form-group">
											<div class="input-group input-group-sm">
												<span class="input-group-addon" id="sizing-addon2">M&acirc;s Validade *</span> <select name="singleSelect" class="form-control" ng-model="formaPagamentoMatriculaOnlineExterna.mesValidade">
													<option ng-repeat="mes in meses" value="{{mes.id}}">{{mes.nome}}</option>
												</select> <span class="input-group-addon" id="sizing-addon2">Ano Validade *</span> <select name="singleSelect" style="width: 50%;" class="form-control" ng-model="formaPagamentoMatriculaOnlineExterna.anoValidade">
													<option ng-repeat="ano in anos" value="{{ano}}">{{ano}}</option>
												</select>
											</div>
										</div>
										<div class="form-group">
											<div class="input-group input-group-sm">
												<span class="input-group-addon" id="sizing-addon2">N&uacute;mero de Verifica&ccedil;&atilde;o do Cart&atilde;o *</span> <input id="cvv" maxlength="10" onkeydown="somenteNumero(this, event)" style="width: 40%;" class="form-control" placeholder="CVV" ng-model="formaPagamentoMatriculaOnlineExterna.codigoDeVerificacao" aria-describedby="sizing-addon2" required="" autofocus="">&nbsp;<a href="" data-toggle="modal" data-target="#myModal">O que &eacute; isso?</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</div ng-repeat-end>
					<div class="btn-group right" role="group" aria-label="..." ng-show="formaPagamentoMatriculaOnlineExternas.length > 0">
						<button type="button" ng-click="adicionarCartaoCredito()" class="btn btn-default">Adicionar Cart&atilde;o</button>
					</div>
				</ul>
			</div>
		</div>
	</div>
	<div class="form-group" ng-show="formaPagamentoMatriculaOnlineExternas.length > 0">
		<div class="input-group input-group-sm">
			<h4>Boleto On-line</h4>
			<div class="btn-group right" role="group" aria-label="...">
				<button type="button" ng-click="realizarImpressaoBoleto();"  class="btn btn-default">Imprimir Boleto</button>
			</div>
		</div>
	</div>
	<div class="btn-group right" role="group" aria-label="..." ng-show="negociacaoRecebimento.valorTotalAPagar != 0.0">
		<button type="button" ng-click="realizarPagamentoCartaoCredito()" class="btn btn-default">Pagar</button>
	</div>
</div>
<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content" style="width: 485px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div>
					<img alt="" src="image/numero_validador.png">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
